<div class="main-container">
  <div class="nav row">
    <div class="date-container large-4 columns">
      <span class="hours">
        ساعت: 15:48
      </span>
      <span class="date">
        چهارشنبه 30 اردیبهشت ۱۳۹۴
      </span>
    </div><!-- .date-container -->
    <div class="f-menu large-6 columns">
      <ul>
        <!-- <li><span class="en-font">F2</span> <i class="fa fa-globe"></i> تغییر زبان</li> -->
        <li><span class="en-font guide">F1</span> <i class="fa fa-question-circle"></i></li>
        <!-- <li><span class="en-font">F1</span> <i class="fa fa-cog"></i> تنظیمات</li>  -->
      </ul>
    </div>

    <div class="second-menu large-2 columns">
      <ul class="left">
        <li><i class="fa fa-envelope"></i></li>
        <li><i class="fa fa-bell"></i></li>
      </ul>
    </div>

  </div><!-- .nav -->
  <div class="container">
    <div class="guide-container">
        <img class="remote-control" src="assets/images/remote-control.png"/>
    </div>
  </div><!-- .container -->
  <div class="footer">

  </div><!-- .footer -->

</div>