<div class="volume-container">
  <div class="volume-inner">
    <div class="volume-start">

    </div>
    <div class="volume-middle">

    </div>
    <div class="volume-end">

    </div>
  </div>
</div>
<div class="main-container">
  <div class="nav row">
    <div class="date-container large-4 columns">
      <span class="hours">
        ساعت: 15:48
      </span>
      <span class="date">
        چهارشنبه 30 اردیبهشت ۱۳۹۴
      </span>
    </div><!-- .date-container -->
    <div class="f-menu large-6 columns">
      <ul>
        <!-- <li><span class="en-font">F2</span> <i class="fa fa-globe"></i> تغییر زبان</li> -->
        <li><span class="en-font guide">F1</span> <i class="fa fa-question-circle"></i></li>
        <!-- <li><span class="en-font">F1</span> <i class="fa fa-cog"></i> تنظیمات</li>  -->
      </ul>
    </div>

    <div class="second-menu large-2 columns">
      <ul class="left">
        <li><i class="fa fa-envelope"></i></li>
        <li><i class="fa fa-bell"></i></li>
      </ul>
    </div>

  </div><!-- .nav -->
  <div class="container row">
    <div class="channels-container large-12 large-centered columns">
      <div class="right large-5 large-offset-1">
        <div class="channel-list">
          <div class="channel-list-inner scroll-text">
            <div class="list-item">
              <ul>

              </ul>
            </div>
          </div>
        </div>
        <div class="volume-channel large-5">

        </div>
        </div><!-- .right -->
      </div><!-- .channels-container -->
    </div><!-- .container -->

    <div class="container row">
      <div class="channel-info-container large-12 columns">
        <div class="channel-info ">
          <div class="logo"></div>
          <div class="name">شبکه 4</div>
        </div>
      </div>
    </div>

    <div class="footer">

    </div><!-- .footer -->

  </div>
  <script src="assets/lib/repo-name/jquery.scrollbox.js"></script>